* {
  background-color: rgb(246, 248, 246);
  font-family: "Nunito Sans", sans-serif;
}
.container {
  display: block;
  margin-left: 10%;
  margin-top: 10%;
}
h1 {
  font-size: 55px;
}
h4 {
  font-size: 25px;
  color: grey;
}

form {
  display: inline-flex;
}
.check {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-top: 2%;
  border-radius: 20px;
  background-color: white;
  opacity: 0.6;
  border: 1px rgb(219, 214, 214);
  box-shadow: 1px 1px 2px rgb(212, 211, 211);
}
#id {
  margin-left: 2%;
  margin-bottom: 3%;
  width: 1.1em;
  height: 1.1em;
}
.text {
  margin-left: 2%;

  height: 5vh;
  width: 50%;
  font-size: 1.3em;
  border: none;
  outline: none;
  font-weight: 700;
}

li {
  list-style: none;
}

#error {
  display: block;
  color: red;
  font-weight: 600;
}
li {
  text-transform: capitalize;
  line-height: 3;
  margin-right: 40%;
  padding-left: 48px;
  height: 15vh;
  overflow: hidden;
  margin-bottom: 2%;
  border-radius: 15px;
  font-size: 30px;
  width: 80%;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgb(241, 227, 227);
  color: rgb(63, 62, 62);
}
#li {
  margin-right: 2%;
}

.mainc {
  position: absolute;
  margin-left: 0.6%;
  margin-top: 1.9%;
  height: 17px;
  width: 17px;
  border-radius: 20px;
  border: 5px rgb(219, 214, 214);
  cursor: pointer;
  box-shadow: 0px 2px 1px rgb(212, 211, 211);
  opacity: 0.6;
}

input[type="checkbox"]:checked + b {
  text-decoration: line-through;
  color: rgb(98, 160, 18);
  font-style: italic;
}

/* #delete {
  display: flex;
  position: absolute;
} */

#total {
  width: 2%;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 1000;
}
#bold {
  font-weight: 700;
}
#id {
  display: inline-block;
  margin-top: 20%;
}
#text {
  margin-left: 0%;
  margin-top: 0%;
  border: none;
  font-size: 18px;
  outline: none;
  color: grey;
}
h3 {
  position: absolute;
  background-color: transparent;
  margin-top: -5%;
}
#second,
#text {
  display: none;
}
#second {
  box-shadow: 1px 1px 2px rgb(212, 211, 211);
  margin-top: 1%;
  margin-left: 12%;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
}
#thirdtext {
  margin-left: 2%;
  margin-top: 0%;
  font-size: 18px;
  outline: none;
  border: none;
  color: grey;
}
#third {
  margin-top: 1.3%;
  height: 3vh;
  cursor: pointer;
  opacity: 0.6;
}
#thirdtext,
#third {
  display: none;
}
h4 {
  margin-top: 0%;
}

h6 {
  position: inherit;
  width: 7%;
  height: 2vh;
  margin-top: -4%;
  margin-left: 3%;
  border: 1px solid rgb(168, 167, 167);
  border-radius: 10px;
  text-align: center;
  line-height: 2;
}

.thirdli {
  background-color: transparent;
}
#mylist {
  overflow: hidden;
}

ul {
  width: 80%;
}
p {
  position: absolute;
  width: 85%;
  height: 4vh;
  margin-top: -5.5%;
  margin-left: 3%;
  background-color: transparent;
  border-radius: 10px;
  overflow-x: scroll;
  color: grey;
}
::-webkit-scrollbar {
  display: none;
}
#delete {
  position: absolute;
  margin-top: -8%;
  margin-left: 70%;
  border: none;
  color: rgb(218, 213, 213);
  cursor: pointer;
}
#delete:hover {
  color: red;
  size: 5%;
}
